* { 
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: rgb(239, 239, 240);
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(203, 208, 224);
}

nav header {
    text-align: center;
}

nav h1 {
    padding: .5em;
    font-size: 2em;
}

nav p {
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
}

.nav-link {
    font-size: 1em;
    margin: .5em;
    text-align: center;
    color: rgb(29, 70, 94);
}

.nav-link:hover {
    color: rgb(231, 228, 53);
}

h2,
main {
    text-shadow: 1px 2px 3px #000000;
}

main {
     margin-top: 4em;
     background-image: url(sliced-meats-on-wooden-chopping-board-1927383.jpg);
     background-position: center;
}

h2 {
    padding: .5em;
    text-align: center;
}

.main-section {
    padding: 4em .25em;
}

main p, 
ul,
blockquote {
    margin: auto;
    padding: .75em;
    width: 75%;
}

li {
    list-style-type: none;
}

footer {
    color: black;
    text-align: center;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
    main {
        padding: 1em;
    }
}

@media (min-width: 1024px) {
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 12em;
        overflow: auto;
    }
    nav p {
         display: flex;
         flex-direction: column;
     }

    main,
    footer {
        margin: 0 0 0 12em;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 24px;
    }

    main {
        padding: 3em;
    }
}