* {
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    font-family: sans-serif;
}

#navbar {
    position: fixed;
    height: 7em;
    width: 100%;
    background-color: rgb(216, 37, 240);
}

nav header {
    height: 4em;
    text-align: center;
    background-color: darkred;
}

nav h1 {
    padding-top: .75em;
}

nav p {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    background-color: chartreuse;
}

main {
     margin-top: 7em;
     background-color: darkslategrey;
 }

main header {
    background-color: sandybrown;
}

.main-section {
    background-color: royalblue;
}

main p {
    margin: 1em;
    padding: .75em;
    background-color: seagreen;
}

main ul {
    background-color: slategrey;
}